/**
 * Application definition for corporate design
 * Plese follow the corporate DB design guides at:
 *    https://marketingportal.extranet.deutschebahn.com, index.php?id_navigation=1013705
 */
:root {
    --db-color-01-00: rgb(240, 20, 20);
    --db-color-01-01: rgb(255, 90, 100);
    --db-color-01-02: rgb(250, 55, 60);
    --db-color-01-03: rgb(240, 20, 20);
    --db-color-01-04: rgb(204, 0, 0);
    --db-color-01-05: rgb(178, 0, 0);
    --db-color-01-06: rgb(154, 0, 0);
    --db-color-01-07: rgb(102, 0, 0);
    --db-color-02-00: rgb(10, 30, 110);
    --db-color-02-01: rgb(55, 95, 195);
    --db-color-02-02: rgb(35, 65, 155);
    --db-color-02-03: rgb(10, 30, 110);
    --db-color-02-04: rgb(0, 10, 90);
    --db-color-02-05: rgb(0, 0, 70);
    --db-color-02-06: rgb(0, 0, 50);
    --db-color-02-07: rgb(0, 0, 30);
    --db-color-03-00: rgb(135, 140, 150);
    --db-color-03-01: rgb(240, 243, 245);
    --db-color-03-02: rgb(234, 238, 241);
    --db-color-03-03: rgb(225, 230, 235);
    --db-color-03-04: rgb(215, 220, 225);
    --db-color-03-05: rgb(200, 205, 210);
    --db-color-03-06: rgb(175, 180, 187);
    --db-color-03-07: rgb(155, 160, 170);
    --db-color-03-08: rgb(135, 140, 150);
    --db-color-03-09: rgb(120, 125, 135);
    --db-color-03-10: rgb(100, 105, 115);
    --db-color-03-11: rgb(80, 85, 95);
    --db-color-03-12: rgb(60, 65, 75);
    --db-color-03-13: rgb(40, 45, 55);
    --db-color-03-14: rgb(20, 25, 35);
    --db-color-04-01: rgb(255, 220, 60);
    --db-color-04-02: rgb(255, 205, 0);
    --db-color-04-03: rgb(255, 175, 0);
    --db-color-04-04: rgb(255, 140, 0);
    --db-color-04-05: rgb(250, 105, 0);
    --db-color-04-06: rgb(240, 80, 0);
    --db-color-05-01: rgb(245, 110, 170);
    --db-color-05-02: rgb(240, 70, 165);
    --db-color-05-03: rgb(195, 50, 150);
    --db-color-05-04: rgb(145, 30, 135);
    --db-color-05-05: rgb(95, 20, 120);
    --db-color-05-06: rgb(60, 0, 100);
    --db-color-06-01: rgb(170, 240, 70);
    --db-color-06-02: rgb(120, 190, 20);
    --db-color-06-03: rgb(60, 165, 50);
    --db-color-06-04: rgb(0, 120, 65);
    --db-color-06-05: rgb(0, 85, 35);
    --db-color-06-06: rgb(0, 60, 25);
    --db-color-07-01: rgb(40, 215, 255);
    --db-color-07-02: rgb(0, 170, 220);
    --db-color-07-03: rgb(0, 135, 185);
    --db-color-07-04: rgb(0, 100, 140);
    --db-color-07-05: rgb(0, 75, 100);
    --db-color-07-06: rgb(0, 50, 70);
    --db-color-08-01: rgb(230, 205, 165);
    --db-color-08-02: rgb(215, 175, 135);
    --db-color-08-03: rgb(195, 130, 80);
    --db-color-08-04: rgb(175, 90, 0);
    --db-color-08-05: rgb(140, 50, 0);
    --db-color-08-06: rgb(115, 15, 0);
    --db-color-09-01: rgb(195, 160, 185);
    --db-color-09-02: rgb(160, 115, 145);
    --db-color-09-03: rgb(130, 80, 115);
    --db-color-09-04: rgb(110, 55, 95);
    --db-color-09-05: rgb(85, 35, 70);
    --db-color-09-06: rgb(55, 10, 40);
    --db-color-10-01: rgb(215, 210, 10);
    --db-color-10-02: rgb(180, 180, 0);
    --db-color-10-03: rgb(135, 150, 0);
    --db-color-10-04: rgb(90, 110, 0);
    --db-color-10-05: rgb(50, 70, 0);
    --db-color-10-06: rgb(30, 45, 0);
    --db-color-11-01: rgb(125, 200, 200);
    --db-color-11-02: rgb(95, 180, 180);
    --db-color-11-03: rgb(35, 150, 150);
    --db-color-11-04: rgb(0, 110, 115);
    --db-color-11-05: rgb(0, 85, 90);
    --db-color-11-06: rgb(0, 60, 65);
    --db-color-red: var(--db-color-01-00);
    --db-color-blue: var(--db-color-02-00);
    --db-color-grey: var(--db-color-03-00);
    --db-color-darkgrey: var(--db-color-03-10);
    --db-color-lightgrey: var(--db-color-03-05);
    --db-color-whitegrey: var(--db-color-03-03);
    --db-color-white: rgb(255, 255, 255);
    --db-color-black: rgb(0, 0, 0);
    --db-color-green: rgb(64, 131 ,53);
    --db-color-text: var(--db-color-03-13);
    --db-font-light: normal normal 200 1rem/1 'DBHeadLightRegular', 'Avenir', Helvetica, Arial, sans-serif;
    --db-font-regular: normal normal 400 1rem/1 'DBSansRegular', 'Avenir', Helvetica, Arial, sans-serif;
    --db-font-head: normal normal 900 1rem/1 'DBHeadRegular', 'Avenir', Helvetica, Arial, sans-serif;
    --db-font-bold: normal normal 700 1rem/1 'DBSansBold', 'Avenir', Helvetica, Arial, sans-serif;
    --db-unit: 2.25rem;
    --db-unit-half: calc(var(--db-unit) * .5);
    --db-unit-third: calc(var(--db-unit) * .33);
    --db-unit-quoter: calc(var(--db-unit) * .25);
    --content-space-left: calc(var(--db-unit) * 2.5);
    --content-space-right: var(--db-unit);
}
